.fcontainer{
    display:flex;
    border:1px solid #ffc400;
    height:45vh;

    /* FLEX DIRECTION */

    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    
    /* JUSTIFY CONTENT : WORKS HORIZONTALLY */

    /* justify-content:center; */
    /* justify-content:flex-start; */
    /* justify-content:flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */

    /* ALIGN ITEMS : WORKS VERTICALLY */

    /* align-items:center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */

    /* FLEX WRAP */

    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* FLEX FLOW */

    /* flex-flow: column wrap; */


}

.fitem{
    margin:5px;
    background-color: red;
    border:2px solid green;
    height: 50px;
    width: 50px;
}

.item1{
    /* order:3; */
    /* flex-grow:1; */
    /* flex-shrink: 2; */

    /* This works vertically */
    /* align-self: center; */
}